
:root {
    --measureLineHeightLineHeightLineheights0: 56px;    
    --measureLineHeightLineHeightLineheights1: 48px;    
    --measureLineHeightLineHeightLineheights2: 44px;    
    --measureLineHeightLineHeightLineheights3: 40px;    
    --measureLineHeightLineHeightLineheights4: 36px;    
    --measureLineHeightLineHeightLineheights5: 32px;    
    --measureLineHeightLineHeightLineheights6: 28px;    
    --measureLineHeightLineHeightLineheights7: 24px;    
    --measureLineHeightLineHeightLineheights8: 20px;    
    --measureFontSizeFontSizeFontsize0: 12px;    
    --measureFontSizeFontSizeFontsize1: 14px;    
    --measureFontSizeFontSizeFontsize2: 16px;    
    --measureFontSizeFontSizeFontsize3: 18px;    
    --measureFontSizeFontSizeFontsize4: 20px;    
    --measureFontSizeFontSizeFontsize5: 24px;    
    --measureFontSizeFontSizeFontsize6: 28px;    
    --measureFontSizeFontSizeFontsize7: 32px;    
    --measureFontSizeFontSizeFontsize8: 36px;    
    --measureFontSizeFontSizeFontsize9: 40px;    
    --measureFontSizeFontSizeFontsize10: 44px;    
    --measureFontSizeFontSizeFontsize11: 52px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: -2%;    
    --measureLetterSpacingLetterSpacingLetterspacing1: 0%;    
    --measureLetterSpacingLetterSpacingLetterspacing2: 1px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing1: 60px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
}